{% extends "base.html.jinja2" %}
{% block content %}
<div class="content">
    <section class="section">
        <h1>Hilfe</h1>
        <p>Wir haben dir hier die wichtigsten Informationen rund um unser neues Uploadportal für Radiosendungen zusammengetragen.</p>

        <h2>Persönlicher Link</h2>
        <p>Um den Radioupload verwenden zu können, bennötigst du einen personalisierten Link. Dieser erhälst du von unserer Sendeabwicklung. Mit diesem Link kannst du für alle Formate, welche du bei uns produzierst neue Episoden hochladen. Dadurch das die Links personalisiert sind können wir sicherstellen, dass nur du für deine Sendung(en) Dateien hochladen kannst.</p>
    </section>
</div>
{% endblock %}